body {
    font-family: 'Raleway', sans-serif;
    margin: 15px;
}

a {
    text-decoration: none ;
    color: black;
    font-weight: bold;
}

h1 {
   font-size: 30px;
}

p {
    font-weight: lighter;
 }

 /* début du header*/

.containerh {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    line-height: 20px;
    justify-content: flex-end;
}

.containerh > div ,nav {
    height: 80px;
}

.logo {
    height: 70px;
}

.reservia {
    position: absolute;
    top: 10px;
    left: 15px;
}

.login {
    line-height: 80px;
    color: #0065FC;
}

.navig {
    width: 450px;
    line-height: 80px;
}

.navig a {
    padding: 5px 20px;
    font-weight: 400;
}

.ligneheber {
    display: inline-block;
    border-bottom: solid rgb(0, 101, 252, 1);
    width: 49%;
    text-align: center;
    margin-left: -20px;
    padding-left: 20px;
}

.ligneact {
    display: inline-block;
    border-bottom: solid rgb(100, 100, 100, 0.1);
    width: 49%;
    text-align: center;
    margin: 0px -20px;
    padding: 0px 20px;
}

.heber {
    color: #0065FC;
}

/* Fin du header*/
 /* début de l'accueil*/

input[type=text] {
    width: 250px;
    border: 2px solid #ccc;
    border-radius: 15px;
    font-size: 16px;   
    background-image: url('pin.png');
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 20px 20px 20px 70px;
}

input[type=text]:focus {
    border: 2px solid #0065FC;
}

input[type=submit] {
    border: 2px solid #0065FC;
    margin-left: -67px;
    border-radius: 16px;
    font-size: 16px;
    background-image: url('loupe.png');
    background-size: contain;
    padding: 20px 30px 20px 30px;
}

input[placeholder] {
    font-weight: bold;
    color: rgb(0, 0, 0, 1);
}

.filtres button {
    font-weight: bold;
    border: 2px solid #ccc;
    border-radius: 100px;
    font-size: 16px;   
    margin: 5px 5px 5px 0px;
    background-image: url('roundback.png');
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 20px 20px 15px;

}

button:hover {
    opacity: 0.5;
}

button i {
    margin-right: 30px;
}

i {
    color :#0065FC;
}


.fa-child {
    padding-left: 5px;
}

.fa-heart {
    padding-left: 3px;
}

.fa-dog {
    padding-left: 2px;
}

.fa-info {
    font-size: 12px;
    height: 12px;
    width: 12px;
    border: 1px solid #ccc;
    border-radius: 100px;
    text-align: center;
    padding: 5px;
    margin-right: 5px;
    float: left;
}

/* Fin de l'accueil*/
 /* début du bloc populaire et hébergement*/

.popetheb {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
}

.popbloc {
    background-color: rgb(204, 204, 204, 0.5);
    width: 400px;
    padding: 20px 40px;
}

.poplabel {
    border-radius: 25px;
    box-sizing: border-box;
    margin-bottom: 20px;
    height: 150px;
    width: 350px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 8px 0 rgba(0, 0, 0, 0.1);
}

.poplabel p {
    margin: -10px 0px 55px 0px;
}


.pop img {
    height: 140px;
    width: 40%;
    float: left;
    object-fit: cover;
    padding: 5px;
    margin-right: 10px;
    border-radius: 25px 0px 0px 25px;
}

.heb img {
    height: 60%;
    width: 100%;
    float: top;
    object-fit: cover;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 25px 25px 0px 0px;
}
.hebbloc {
    background-color: white;
    width: 1100px;
    padding: 20px 40px;
}

.heblabel {
    border-radius: 25px;
    box-sizing: border-box;
    margin-bottom: 20px;
    height: 200px;
    width: 350px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 8px 0 rgba(0, 0, 0, 0.2);
}

.heb {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;

}

.textheblabel {
    margin: -20px 0px 0px 20px;
}

.textheblabel p {
    margin: -10px 0px 15px 0px;
}

.fa-fire {
    float: right;
    color: black;
}

#greystar {
    color: rgb(100, 100, 100, 0.2);
}

.afficher {
    border: none;
    font-size: 22px;
    background: none;
    font-family: 'Raleway', sans-serif;
    margin-top: 20px;
    font-weight: 700;
}

/* Fin du bloc populaire et hébergement*/
 /* début du bloc activités*/

.container3 {
    display: flex;
    flex-direction: column;
}

.container3 img{
    width: 10%;
}

