body {
    font-family: 'Raleway', sans-serif;
    margin: 10px;
}

a {
    text-decoration: none ;
    color: black;
    font-weight: bold;
}

h1 {
   font-size: 30px;
}

p {
    font-weight: lighter;
 }

.containerh {
    display:flex;
    flex-wrap: wrap;
    line-height: 20px;
    text-align: center;
}

.logo {
    height: 80px;
    margin-left: 5px;
}

.login {
    color: #0065FC;
    margin-right: 5px;
}

.c1 {
    width: 50%;
    text-align: left;
}

.c2 {
    width: 50%;
    color :red;
    text-align: right;
    line-height: 80px;
}

.c3 {
    width: 47%;
    padding: 5px;
    border-bottom-style: solid;
    border-color: #0065FC; 
}

.c4 {
    width: 47%;
    padding: 5px;
    border-bottom-style: solid;
    border-color: rgb(128, 128, 128,0.2); 
}

.héb {
   color: #0065FC;
}

input[type=text] {
    width: 300px;
    border: 2px solid #ccc;
    border-radius: 15px;
    font-size: 16px;   
    background-image: url('pin.png');
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 20px 20px 20px 70px;
}

input[type=submit] {
    border: 2px solid #0065FC;
    margin-left: -67px;
    border-radius: 16px;
    font-size: 16px;
    background-image: url('loupe.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding: 20px 30px 20px 30px;
}

input[placeholder] {
    font-weight: bold;
    color: rgb(0, 0, 0, 1);
}

button {
    font-weight: bold;
    border: 2px solid #ccc;
    border-radius: 100px;
    font-size: 16px;   
    margin: 5px 5px 5px 0px;
    background-color: white;
    background-size: 100%;
    padding: 20px 20px 20px 20px;

}

button > i {
    margin: 0px 20px 0px 0px;
    color :#0065FC;
    background-color: lightblue;
    background-size: cover;
}

button:hover {
    opacity: 0.5;
}

.container1 {
    display: flex;
    flex-direction: wrap;
}

.container2 {
    display: flex;
    flex-direction: wrap;
}

.container3 {
    display: flex;
    flex-direction: wrap;
}




